@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  font-family: "space mono", monospace;
}

body {
  background-color: rgb(26, 11, 95);
}

/*ROCKET HUNT GAME TITLE*/

.neon-wrapper {
  position: relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -20%);
  display: inline-flexbox;
  filter: brightness(400%);
  overflow: hidden;
  background: rgb(67, 67, 148);
  display: flex;
  justify-content: center;
  align-items: justify;
  width: 2000px;
}

.txt {
  color: rgb(10, 225, 249);
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  background: black;
  width: 150%;
  display: flex;
  justify-content: center;
  align-items: justify;
}
.txt::before {
  content: "ROCKET HUNT";
  position: absolute;
  mix-blend-mode: difference;
  filter: blur(1px);
}
.gradient {
  background: linear-gradient(
    114.5793141156962deg,
    rgba(6, 227, 250, 1) 4.927083333333334%,
    rgb(137, 217, 241) 97.84374999999999%
  );
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
}
.dodge {
  background: radial-gradient(circle, white, black 35%) center / 25% 25%;
  position: absolute;
  top: -100%;
  left: -100%;
  right: 0;
  bottom: 0;
  mix-blend-mode: color-dodge;
  animation: dodge-area 2s linear infinite;
}

@keyframes dodge-area {
  to {
    transform: translate(30%, 50%);
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*GAME RULES*/
.rules-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: justify;
  font-size: 13px;
  border: solid 1px cyan;
  border-radius: 5px;
  color: rgb(49, 51, 170);
  background-color: rgb(46, 234, 244);
  width: 420px;
  margin: -10px 0px -5px 0px;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  box-shadow:  5px 5px 1px 0px rgb(39, 157, 204);
}

h1,
p {
  font-size: 1em;
  margin-left: -26px;
}

.rules-card li {
  text-align: justify;
  margin: 0 40px 2px 1px;
  width: 90%;
}

/*START IGNITION BUTTON*/
.start-btn {
  color: rgb(49, 51, 170);
  font-size: 15px;
  background-color: rgb(46, 234, 244);
  border: 1px solid rgb(46, 234, 244);
  border-radius: 5px;
  margin-top: 29px;
  padding: 5px;
  width: 200px;
  animation: shake 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) both;
  box-shadow:  5px 5px 1px 0px rgb(39, 157, 204);
}

/*ASTRONAUT ELEMENT*/
/* .fa-user-astronaut {
  color: rgb(91, 214, 214);
  display: flex;
  justify-content: space-around;
  font-size: 190%;
  margin: 10px;
} */

/*GAME-BOARD*/
#game-board {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 100px));
  grid-template-rows: auto;
  grid-gap: 5px;
  min-width: 350px;
  height: 350px;
  margin-top: 2em;
}

/*GAME-BOARD COLORED/ANIMATED WINDOWS*/
.window {
  cursor: pointer;
  width: 100px;
  height: 90px;
  border: 1px solid cyan;
  background-color: rgb(80, 83, 215);
  align-items: center;
  border-radius: 5%;
  box-shadow:  5px 5px 1px 0px rgb(39, 157, 204);
}

.window.window1 {
  animation: color-me-in1 6s infinite;
}

.window2 {
  animation: color-me-in2 6s infinite;
}

.window3 {
  animation: color-me-in3 6s infinite;
}

.window4 {
  animation: color-me-in4 6s infinite;
}

/*ANIMATION RANDOM COLORED COLORS SWAP*/
@keyframes color-me-in1 {
  0% {
    background: rgb(80, 141, 215);
  }

  40% {
    background: rgb(71, 147, 50);
  }

  100% {
    background: rgb(207, 85, 255);
  }
}

@keyframes color-me-in2 {
  0% {
    background: rgb(130, 132, 255);
  }

  40% {
    background: rgb(99, 146, 255);
  }

  100% {
    background: rgb(107, 88, 255);
  }
}

@keyframes color-me-in3 {
  0% {
    background: rgb(84, 11, 129);
  }

  40% {
    background: rgb(2, 156, 164);
  }

  100% {
    background: rgb(39, 147, 166);
  }
}

@keyframes color-me-in4 {
  0% {
    background: rgb(84, 171, 233);
  }

  40% {
    background: rgb(150, 70, 162);
  }

  30% {
    background: rgb(33, 33, 169);
  }
}

/*GIF ELEMENTS*/
.rocket {
  width: 100px;
}

.radiation {
  width: 100px;
}

/*IGNITION SOUND*/

.audio-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.audio-1 {
  width: 10rem;
  height: 1.5rem;
}

audio::-webkit-media-controls-panel {
  background-color: rgb(46, 234, 244);
}
