*{
  font-family:monospace;
}


body {
  background-color: #000000;
}

/*h1 {
  text-align: center;
  color: rgb(52, 234, 254);
  font-size: 60px;
  position: relative;
}*/

/*ROCKET HUNT*/
.txt {
  color:rgb(10, 225, 249);
  font-size:60px;
  font-weight: bold;
  text-transform: uppercase; 
  background: #000000; 
}
.txt::before {
  content: "ROCKET HUNT";
  position: absolute;
  mix-blend-mode: difference;
  filter: blur(3px);
}
.neon-wrapper {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  display:inline-flexbox;
  filter: brightness(300%);
  overflow: hidden;
}
.gradient{
  background: linear-gradient(114.5793141156962deg, rgba(6, 227, 250,1) 4.927083333333334%,rgba(229, 151, 64,1) 97.84374999999999%);
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height:100%;
  mix-blend-mode: multiply;
}
.dodge {
  background: radial-gradient(circle,white,black 35%) center / 25% 25%;
  position: absolute;
  top:-100%;
  left:-100%;
  right:0;
  bottom:0;
  mix-blend-mode: color-dodge;
  animation: dodge-area 3s linear infinite;
}
@keyframes dodge-area {
  to {
      transform: translate(50%,50%);
  }
}

h3 {
  text-align: center;
  color: rgb(93, 46, 174);
}

.start-btn {
  color: rgb(57, 57, 159);
  font-weight:bold;
  font-size: 30px;
  background-color:rgb(88, 238, 255);
  border: 2px solid rgb(111, 111, 241);
  border-radius: 5%;
  margin:10px;
  animation: shake 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) both; 
}



.astro{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 60px;
  margin: 5px;
  display: hidden;
}

.space-lives{
  color: aqua;
  text-align: center;
  font-size: 15px;
  margin-top: 20%;
  
}

.fa-user-astronaut {
  color: rgb(91, 214, 214);
  display: flex;
  justify-content: space-around;
  font-size: 150%;
  margin: 15px;
  
}

#game-board {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 100px));
  grid-template-rows: auto;
  grid-gap: 5px;
  min-width: 400px;
  height: 400px;
}

.board.done {
  cursor: default;
}

.rocket {
  position: absolute;
  width: 5%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.window {
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  cursor: pointer;
  width: 100px;
  height: 100px;
  border: 1px solid cyan;
  background-color: rgb(80, 83, 215);
  align-items: center;
  border-radius: 5%;
}

.window.window1 {
  animation: color-me-in1 6s infinite ;
}

.window2 {
  animation: color-me-in2 6s infinite ;
}

.window3 {
  animation: color-me-in3 6s infinite;
}

.window4 {
  animation: color-me-in3 6s infinite;
}

/* animation shuffle colors swap*/

@keyframes color-me-in1 {
  0% {
    background: rgb(80, 141, 215);
  }

  40% {
    background: rgb(71, 147, 50);
  }

  100% {
    background: rgb(207, 85, 255);
  }
}

@keyframes color-me-in2 {
  0% {
    background: rgb(130, 132, 255);
  }

  40% {
    background: rgb(111, 241, 178);
  }

  100% {
    background: rgb(88, 238, 255);
  }
}

@keyframes color-me-in3 {
  0% {
    background: rgb(172, 61, 241);
  }

  40% {
    background: rgb(2, 156, 164);
  }

  100% {
    background: rgb(39, 147, 166);
  }
}

@keyframes color-me-in4 {
  0% {
    background: rgb(84, 171, 233);
  }

  40% {
    background: rgb(232, 132, 247);
  }

  30% {
    background: rgb(33, 33, 169);
  }
}



